
<ion-content padding class="background">


  <ion-row>
    <ion-col size="12" class="margemtop"> 
        <span class="sejabemvinda" >Seja bem vindo</span>
    </ion-col>
    <ion-col size="12">
      <span><img class="logoentrada" src="../assets/image/logosfundo.png"></span><br>
      <span class="titulo" >Pasqualotto&GT</span><br>
      <span class="subtitulo" >EMPREENDIMENTOS</span>
    </ion-col>
  </ion-row>

    
  <ion-row>
    <ion-col class="buttonsentrada">
      <button ion-button class="galeriabotao visitantebotao" (click)="openVisitante()">SOU VISITANTE </button>
      <button ion-button class="galeriabotao corretorbotao" (click)="openCorretor()">SOU CORRETOR </button>
    </ion-col>
  </ion-row>

</ion-content>
