// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.inner-scroll {
    background-color:#d12226  !important;
}
.titleh5{
    color: #FFF !important;
}
.logo{
    padding: 73px 114px 82px 49px;
}
ion-menu{
    ion-content{
        --ion-background-color:#d12226
    }
}
