.titlepg
{
    background-color:#d12226;
    color: #FFF;
}
ion-header
{
    --ion-background-color: #D12226;
}
ion-menu-button
{
        color: #FFF;
}

.boxempreendimento
{
    background: #FFF;
    position: relative;
    top: -120px;
    padding-left: 40px;
}
.removeressaclasse{
    position: relative;
    top: -100px;
}

.emp-cidade{
    color: #d2d2d2;
}
.emp-cidade span{
    color: #D12226
} 
.emp-titulo{

}
.emp-endereco{

}