<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="titlepg">
        Institucional 
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-row>
        <ion-col size="2">
            <span><img class="aspas1" src="../assets/image/aspas1.png"></span>
        </ion-col>
        <ion-col size="10"></ion-col>
        <ion-col size="12">
            <ion-text color="dark">
                <h6 class="textoinstitucional">Com foco em projetos inovadores, sua grandeza e diferencias transformam arte em beleza.</h6>
              </ion-text>
        </ion-col>
        <ion-col size="10"></ion-col>
        <ion-col size="2">
            <span size="12"><img class="aspas2" src="../assets/image/aspas2.png"></span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <span><img class="imageminstitucional" src="../assets/image/3institucional.png"></span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-text color="dark">
                <h6 class="textolongoinstitucional">A Pasqualotto & GT é a construtora de empreendimentos de luxo, como o Yatchhouse by Pinifarina, o maior residencial da américa latina 
                  que deverá ser entregue em 2020, com 81 andares e 275 metros de altura. Também possui os pré-lançamentos Vitra e La Cittá by Pinifarina. A empresa, que valoriza o 
                  crescimento do turismo de Balneário Camboriú, planeja novos projetos e ampliação dos trabalhos no litoral de Santa Catarina.  
                </h6>
              </ion-text>
        </ion-col>
        <ion-col size="12">
            <h4 class="textocopy">Equipe Pasqualotto & GT.</h4>
        </ion-col>
    </ion-row>
    
    

     
</ion-content>
